* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  --Soft-red: hsl(10, 79%, 65%);
  --Cyan: hsl(186, 34%, 60%);
  --Dark-brown: hsl(25, 47%, 15%);
  --Medium-brown: hsl(28, 10%, 53%);
  --Cream: hsl(27, 66%, 92%);
  --Very-pale-orange: hsl(33, 100%, 98%);
  --f-normal: 1.125rem;
  --f-large: 2.25rem;
  --fw-normal: 400;
  --fw-large: 700;
}
body {
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: var(--fw-normal);
  height: 100vh;
  background-color: var(--Cream);
  font-size: var(--f-normal);
}

strong {
  font-weight: var(--fw-large);
}
.grid {
  display: grid;
  gap: 1rem;
  grid-template-rows: 1fr 3fr;
}

.flex {
  display: flex;
}
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex-column {
  display: flex;
  flex-direction: column;
}
.light {
  font-size: small;
}
.card {
}
.bold {
  font-weight: var(--fw-large);
}
.first {
  background-color: var(--Soft-red);
  justify-content: space-between;
  padding: 1rem;
  border-radius: 15px;
  color: var(--Very-pale-orange);
}
.first img {
  max-width: fit-content;
}
.prices {
  background-color: var(--Very-pale-orange);
  padding: 1rem;
  border-radius: 15px;
  max-width: 40rem;
}
.month {
  justify-content: space-between;
  align-items: flex-end;
}
.second {
  margin-right: 7rem;
}
.second h1 {
  font-size: var(--f-large);
}
.third {
text-align: right;
}
